<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>Postage Calculator</h1>
    </div>
    <div>
<form method="get" action="/getRate" >
    <input type="number" name="weight"> Weight <br>
    <input type="radio" name="mail" value="stamped"> Letters (Stamped) <br>
    <input type="radio" name="mail" value="metered"> Letters (Metered) <br>
    <input type="radio" name="mail" value="flats"> Large Envelopes (Flats) <br>
    <input type="radio" name="mail" value="package"> First-Calss Package Service - Retail <br>
    <input type="submit" value="Get Rate">
</form>

    </div>
</div>


</body>
</html>
