<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">

    </a>
    <h1>Results Page</h1>
    <p>The cost of "<%= weight %>" going <%= type %> mail is $ <%= result %> </p>
    </div>
</div>


</body>
</html>
